
 <div class="section"> 
 <div class="container mx-6 py-6 has-text-centered">
     <div class="columns"> 
       <div class="column is-one-third"></div>
         <div class="column is-one-third"> 
             <div class="card">
                 <div class="card-content">
                     <div class="card">
                       <div class="card-content">
                            <%= form_for(@comment) do |f| %> 
                                <%= f.hidden_field :discussion_id %> 
                                <%= f.label :content, class: "has-text-weight-bold" %><br>
                                <%= f.text_area :content %><br><br>
                                <%= f.submit "Send comment", class: "button" %> 
                            <% end %> 
                       </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="column is-one-third"></div> 
     </div>
 </div>
</div>

