
<div class="section"> 
    <div class="container mx-6 py-6 has-text-centered">
     <div class="columns"> 
      <div class="column is-one-third"></div>
         <div class="column is-one-third"> 
            <div class="card">
                <div class="card-content has-text-centered ">
                  <h1 class="has-text-weight-bold"> Search a book by title </h1> 
                    <br>
                    <%= form_for @book do |f| %>  
                        <%= f.label :title %><br>
                        <%= f.text_field :title %><br>
                        <%= f.label :bookshelf, "For shelf" %><br>
                        <%= f.collection_select :bookshelf_id, Bookshelf.all, :id, :shelf_name %><br>
                        <br>
                        <%= f.submit "Search" %>  
                    <% end %> 
                    <br><br>
                    <h1 class="has-text-weight-bold"> Or create one manually </h1> 
                    <br>
                    <%= render 'book' %>  
                </div>
            </div>
         </div>
         <div class="column is-one-third"></div> 
        </div>
       </div>
    </div>
