<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Font+Name"> 

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/be3035c5ff.js" crossorigin="anonymous"></script>
  </head>
  <body>

  <% if notice %>
      	    <%= notice %>
	<% end %>
	
	<% if alert %>
      	    <%= alert %>
  <% end %>

  <% if logged_in? %> 
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item"> <%= link_to "Home", user_path(current_user) %></div>
            <div class="navbar-item"> <%= link_to "Books", books_path %></div>
            <div class="navbar-item"> <%= link_to "Reviews", reviews_path %></div>
            <div class="navbar-item"> <%= link_to "Bookshelves", bookshelves_path %></div>
            <div class="navbar-item"> <%= link_to "The club", discussions_path %></div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons"><%= link_to "Log out", logout_path %></div>
           </div>
          </div>
        </div>
      </div>
    </nav>

  <% end %> 

  
  <div class="hero is-fullheight has-bg-image">        
    <%= yield %>
  </div>
    
  
<div>

  </body>
</html>

